<!DOCTYPE html>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <script>
  let lastScroll = 0;
  const navbar = document.querySelector('.navbar');

  window.addEventListener('scroll', () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll > lastScroll) {
      // scroll vers le bas → cacher la barre
      navbar.style.top = '-70px'; // ajuste selon hauteur
    } else {
      // scroll vers le haut → montrer la barre
      navbar.style.top = '0';
    }
    lastScroll = currentScroll;
  });
  </script>
  <!doctype html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>

    {%- comment -%} Canonical pour toutes les pages {%- endcomment -%}
    {% include custom-head.html %}

    <!-- ... tes autres liens CSS/JS ... -->
  </head>

</html>
  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>

  
</html>
